vellavarun.duckdns.org, porcoflies.duckdns.org {
	@config path /config.json
	respond @config 403

	root * /srv/{env.ACTIVE_GAME}
	file_server

	@static path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg
	header @static Cache-Control "public, max-age=3600"
}
